* {
    font-family: Georgia;
}

body {
    background-image: url("https://images6.alphacoders.com/709/709023.jpg");
}

a {
    color: rgb(255, 150, 130);
    color: rgba(255, 150, 130, 0.8);
}

a:hover {
    text-decoration: underline;
}

h3 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.5)
}

p {
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
}
