body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.nav {
    position: fixed;
    top: 0;
}

.nav ul {
    background-color: #d9e4f4;
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

.nav li {
     float: right;
     font-size: 1.4em;
     display: block; 
     padding: 1em;
}

.nav a {
    color:#324776;
    display: block;
    padding: 8px;
    text-decoration: none;
}

.active {
    background-color: #4CAF50;
}

/*
a {
    text-decoration: none;
    color: #01CBAF;
}

a:hover {
    text-decoration: underline;
}

img {
    
}

h1 {
    color: #324776;
    font-size: 5em;
    font-style: bold;
    height: 2em;
}

h2 {
    color: #556893;
    font-size: 3em;
    
}

p {
    color: #155AD0;
    font-size: 1.5em;
    line-height: 1.75em;
}

*/
