* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}

body {
    background-image: url("https://images6.alphacoders.com/709/709023.jpg");
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    color: rgb(0, 0, 0);
    color: rgba(0, 0, 0, 0.5);
    font-family: Bitter, Georgia, serif;
}

#header-text {
  text-align: center;
  top: 25%;
  width: 100%;
}

p {
    font-size: 1.5em;
    line-height: 1.5em;
    color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.8);
    font-family: Bitter, Georgia, serif;
    margin: 0 0 1000px 80px;
}

ul {
    font-size: 1em;
    font-family: Bitter, Georgia, serif;
}
